[Unit]
Description=Select random background daily (timer)

[Timer]
OnCalendar=daily
Persistent=true
Unit=%i.service

[Install]
WantedBy=default.target
